#menu {
	float: left;
	width: 25%;
	background: #a6dffc;
	padding-bottom: 100px;
	
border: 1px solid #999;
}

body {
	margin:0;
	padding: 0;
}

#header {
height: 200px;	
background: url('header.jpg') repeat-x;
}


#content {padding-left: 250px;height: 100%;
background-color: #98d9f9;
border: 1px solid #999;
font-size: 12pt;
border: 1px solid #999;	
}


#content p {
margin: 20px;	
}


#footer {width:100%; 
height: 200px;
background: url('footer.jpg') repeat-x;	
text-align: center;
font-size: 14pt;
}

